<!DOCTYPE html>
<html>
<!--include "../../templet/head.components.html"-->

<body>
    <div id="demoCode">
        <div class="ryt-list">
            <div class="ryt-list-header">RadioItem Demo</div>
            <div class="ryt-list-body">
                <div class="ryt-radio-item ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-line">
                        <div class="ryt-list-content">Doctor</div>
                        <div class="ryt-list-extra">
                            <label class="ryt-radio-wrapper"><span class="ryt-radio ryt-radio-checked"><input type="radio" class="ryt-radio-input" value="on"><span class="ryt-radio-inner"></span></span>
                            </label>
                        </div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
                <div class="ryt-radio-item ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-line">
                        <div class="ryt-list-content">Bachelor</div>
                        <div class="ryt-list-extra">
                            <label class="ryt-radio-wrapper"><span class="ryt-radio"><input type="radio" class="ryt-radio-input" value="on"><span class="ryt-radio-inner"></span></span>
                            </label>
                        </div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
            </div>
        </div>
        <div class="ryt-whitespace ryt-whitespace-lg"></div>
        <div class="ryt-list">
            <div class="ryt-list-body">
                <div class="ryt-radio-item ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-line">
                        <div class="ryt-list-content">
                            <!-- react-text: 37 -->Basketball
                            <!-- /react-text -->
                            <div class="ryt-list-brief">Details</div>
                        </div>
                        <div class="ryt-list-extra">
                            <label class="ryt-radio-wrapper"><span class="ryt-radio"><input type="radio" class="ryt-radio-input" value="on"><span class="ryt-radio-inner"></span></span>
                            </label>
                        </div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
                <div class="ryt-radio-item ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-line">
                        <div class="ryt-list-content">
                            <!-- react-text: 48 -->Football
                            <!-- /react-text -->
                            <div class="ryt-list-brief">Details</div>
                        </div>
                        <div class="ryt-list-extra">
                            <label class="ryt-radio-wrapper"><span class="ryt-radio ryt-radio-checked"><input type="radio" class="ryt-radio-input" value="on"><span class="ryt-radio-inner"></span></span>
                            </label>
                        </div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
            </div>
        </div>
        <div class="ryt-list">
            <div class="ryt-list-header">Disabled</div>
            <div class="ryt-list-body">
                <div class="ryt-radio-item ryt-radio-item-disabled ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-line">
                        <div class="ryt-list-content">Doctor</div>
                        <div class="ryt-list-extra">
                            <label class="ryt-radio-wrapper"><span class="ryt-radio ryt-radio-checked ryt-radio-disabled"><input type="radio" disabled="" class="ryt-radio-input" value="on"><span class="ryt-radio-inner"></span></span>
                            </label>
                        </div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
                <div class="ryt-radio-item ryt-radio-item-disabled ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-line">
                        <div class="ryt-list-content">Bachelor</div>
                        <div class="ryt-list-extra">
                            <label class="ryt-radio-wrapper"><span class="ryt-radio ryt-radio-disabled"><input type="radio" disabled="" class="ryt-radio-input" value="on"><span class="ryt-radio-inner"></span></span>
                            </label>
                        </div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
            </div>
        </div>
        <div class="ryt-whitespace ryt-whitespace-lg"></div>
        <div class="ryt-list">
            <div class="ryt-list-body">
                <div class="ryt-radio-item ryt-radio-item-disabled ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-line">
                        <div class="ryt-list-content">
                            <!-- react-text: 83 -->Basketball
                            <!-- /react-text -->
                            <div class="ryt-list-brief">Details</div>
                        </div>
                        <div class="ryt-list-extra">
                            <label class="ryt-radio-wrapper"><span class="ryt-radio ryt-radio-checked ryt-radio-disabled"><input type="radio" disabled="" class="ryt-radio-input" value="on"><span class="ryt-radio-inner"></span></span>
                            </label>
                        </div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
                <div class="ryt-radio-item ryt-radio-item-disabled ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-line">
                        <div class="ryt-list-content">
                            <!-- react-text: 94 -->Football
                            <!-- /react-text -->
                            <div class="ryt-list-brief">Details</div>
                        </div>
                        <div class="ryt-list-extra">
                            <label class="ryt-radio-wrapper"><span class="ryt-radio ryt-radio-disabled"><input type="radio" disabled="" class="ryt-radio-input" value="on"><span class="ryt-radio-inner"></span></span>
                            </label>
                        </div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
            </div>
        </div>
    </div>
    <!--include "../../templet/js.components.html"-->
</body>

</html>