<!DOCTYPE html>
<html>
<!--include "../../templet/head.components.html"-->

<body>
    <div class="ryt-wingblank ryt-wingblank-md demo-button" id="demoCode">
        <div class="ryt-whitespace ryt-whitespace-xl"></div>
        <div style="background-color: #e1e1e1;padding:10px; text-align: center;">示例</div>
        <!-- 上下间距 - 6px -->
        <div class="ryt-whitespace ryt-whitespace-xs"></div>
        <div style="background-color: #e1e1e1;padding:10px; text-align: center;">示例</div>
        <!-- 上下间距 - 12px -->
        <div class="ryt-whitespace ryt-whitespace-sm"></div>
        <div style="background-color: #e1e1e1;padding:10px; text-align: center;">示例</div>
        <!-- 上下间距 - 18px -->
        <div class="ryt-whitespace ryt-whitespace-md"></div>
        <div style="background-color: #e1e1e1;padding:10px; text-align: center;">示例</div>
        <!-- 上下间距 - 30px -->
        <div class="ryt-whitespace ryt-whitespace-lg"></div>
        <div style="background-color: #e1e1e1;padding:10px; text-align: center;">示例</div>
        <!-- 上下间距 - 42px -->
        <div class="ryt-whitespace ryt-whitespace-xl"></div>
        <div style="background-color: #e1e1e1;padding:10px; text-align: center;">示例</div>
    </div>
    <!--include "../../templet/js.components.html"-->
</body>

</html>