<!DOCTYPE html>
<html>
<!--include "../../templet/head.components.html"-->

<body>
    <div class="ryt-wingblank ryt-wingblank-md demo-button" id="demoCode">
        <div class="ryt-whitespace ryt-whitespace-lg"></div>
        <!-- 水平间距 - 10px -->
        <div class="ryt-wingblank ryt-wingblank-sm">
            <div style="background-color: #e1e1e1;padding:10px; text-align: center;">示例</div>
        </div>
        <div class="ryt-whitespace ryt-whitespace-lg"></div>
        <!-- 水平间距 - 16px -->
        <div class="ryt-wingblank ryt-wingblank-md">
            <div style="background-color: #e1e1e1;padding:10px; text-align: center;">示例</div>
        </div>
        <div class="ryt-whitespace ryt-whitespace-lg"></div>
        <!-- 水平间距 - 30px -->
        <div class="ryt-wingblank ryt-wingblank-lg">
            <div style="background-color: #e1e1e1;padding:10px; text-align: center;">示例</div>
        </div>
    </div>
    <!--include "../../templet/js.components.html"-->
</body>

</html>