<!DOCTYPE html>
<html>
<!--include "../../templet/head.components.html"-->

<body>
    <div id="demoCode">
        <!-- xxs 30*30 -->
        <div class="ryt-icon ryt-icon-xxs ryt-icon-navbar-arrow-left"></div>


        <div class="ryt-icon ryt-icon-xxs ryt-icon-arrow-right"></div>
        <!-- xs 30*30 -->
        <div class="ryt-icon ryt-icon-xs ryt-icon-navbar-arrow-left"></div>
        <!-- sm 30*30 -->
        <div class="ryt-icon ryt-icon-sm ryt-icon-navbar-arrow-left"></div>
        <!-- md 30*30 -->
        <div class="ryt-icon ryt-icon-md ryt-icon-navbar-arrow-left"></div>
        <!-- lg 30*30 -->
        <div class="ryt-icon ryt-icon-lg ryt-icon-navbar-arrow-left"></div>
        <!-- loading 30*30 -->
        <div class="ryt-icon ryt-icon-lg ryt-icon-loading ryt-icon-navbar-arrow-left"></div>


        <!-- xxs 30*30 -->
        <div class="ryt-icon ryt-icon-xxs ryt-icon-success"></div>
        <!-- xs 30*30 -->
        <div class="ryt-icon ryt-icon-xs ryt-icon-error"></div>
        <!-- sm 30*30 -->
        <div class="ryt-icon ryt-icon-sm ryt-icon-warning"></div>
        <!-- md 30*30 -->
        <div class="ryt-icon ryt-icon-md ryt-icon-wait"></div>

        <div class="ryt-icon ryt-icon-md ryt-icon-date"></div>

        <!-- xs 30*30 -->
        <div class="ryt-icon ryt-icon-xs ryt-icon-huikuan-handle"></div>
        <!-- sm 30*30 -->
        <div class="ryt-icon ryt-icon-sm ryt-icon-huikuan-message"></div>
        <!-- md 30*30 -->
        <div class="ryt-icon ryt-icon-md ryt-icon-shoufei-message"></div>

        <div class="ryt-icon ryt-icon-lg ryt-icon-huikuan-title"></div>
        <!--include "../../templet/js.components.html"-->
    </div>
</body>

</html>