<!DOCTYPE html>
<html>
<!--include "../../templet/head.components.html"-->

<body>
    <div id="demoCode">
        <div class="ryt-navbar ryt-navbar-light">
            <div class="ryt-navbar-left"><span class="ryt-navbar-left-icon" aria-hidden="true"><i class="ryt-icon ryt-icon-md ryt-icon-navbar-arrow-left" ></i></span><span class="ryt-navbar-left-content">back</span></div>
            <div class="ryt-navbar-title">NavBar</div>
            <div class="ryt-navbar-right">
                <i class="ryt-icon ryt-icon-md ryt-icon-navbar-arrow-left"></i>
            </div>
        </div>
        <div class="ryt-navbar ryt-navbar-dark">
            <div class="ryt-navbar-left"><span class="ryt-navbar-left-content">返回</span></div>
            <div class="ryt-navbar-title">NavBar</div>
            <div class="ryt-navbar-right">
                <span class="ryt-navbar-content">首页</span>
            </div>
        </div>
        <!-- 示例 - 开始 -->
        <div class="ryt-navbar ryt-navbar-light">
            <div class="ryt-navbar-left"><span class="ryt-navbar-left-content">返回</span></div>
            <div class="ryt-navbar-title">购汇交易查询</div>
            <div class="ryt-navbar-right">
                <i class="ryt-icon ryt-icon-xxs ryt-icon-navbar-arrow-left"></i>
            </div>
        </div>
        <!-- 示例 - 结束 -->
        <div class="ryt-whitespace ryt-whitespace-lg"></div>
        <!-- 示例 - 开始 -->
        <div class="ryt-navbar ryt-navbar-light">
            <div class="ryt-navbar-left"><span class="ryt-navbar-left-icon"><i class="ryt-icon ryt-icon-xxs ryt-icon-navbar-arrow-left" ></i></span></div>
            <div class="ryt-navbar-title">购汇交易查询</div>
            <div class="ryt-navbar-right">
                <span class="ryt-navbar-content">操作</span>
            </div>
        </div>
        <!-- 示例 - 结束 -->
        <div class="ryt-whitespace ryt-whitespace-lg"></div>
        <!-- 示例 - 开始 -->
        <div class="ryt-navbar ryt-navbar-light">
            <div class="ryt-navbar-left"><span class="ryt-navbar-left-icon"><i class="ryt-icon ryt-icon-xxs ryt-icon-navbar-arrow-left" ></i></span><span class="ryt-navbar-left-content">返回</span></div>
            <div class="ryt-navbar-title">购汇交易查询</div>
            <div class="ryt-navbar-right">
                <span class="ryt-navbar-left-icon"><i class="ryt-icon ryt-icon-xxs ryt-icon-navbar-arrow-left" ></i></span><span class="ryt-navbar-content">操作</span>
            </div>
        </div>
        <!-- 示例 - 结束 -->
    </div>
    <!--include "../../templet/js.components.html"-->
</body>

</html>