<!DOCTYPE html>
<html>
<!--include "../../templet/head.components.html"-->

<body>
    <div class="ryt-wingblank ryt-wingblank" id="demoCode">
        <p class="demoTitle">基本布局</p>
        <!-- 基本布局 -->
        <div class="flex-container">
            <div class="ryt-flexbox ryt-flexbox-align-middle">
                <div class="ryt-flexbox-item">
                    <div class="demoFlex">示例</div>
                </div>
                <div class="ryt-flexbox-item">
                    <div class="demoFlex">示例</div>
                </div>
            </div>
            <div class="ryt-whitespace ryt-whitespace-lg"></div>
        </div>
        <p class="demoTitle">wrap 换行</p>
        <!-- 正常左对齐 -->
        <div class="flex-container">
            <div class="ryt-flexbox ryt-flexbox-wrap ryt-flexbox-align-middle">
                <div class="inline">示例</div>
                <div class="inline">示例</div>
                <div class="inline">示例</div>
                <div class="inline">示例</div>
                <div class="inline">示例</div>
                <div class="inline">示例</div>
                <div class="inline">示例</div>
            </div>
            <div class="ryt-whitespace ryt-whitespace-lg"></div>
        </div>
        <p class="demoTitle">轴对齐方式</p>
        <div class="flex-container">
            <!-- 左右居中对齐 -->
            <div class="ryt-flexbox ryt-flexbox-justify-center ryt-flexbox-align-middle">
                <div class="inline">示例</div>
                <div class="inline">示例</div>
                <div class="inline">示例</div>
            </div>
            <div class="ryt-whitespace ryt-whitespace-md"></div>
            <!-- 右对齐 -->
            <div class="ryt-flexbox ryt-flexbox-justify-end ryt-flexbox-align-middle">
                <div class="inline">示例</div>
                <div class="inline">示例</div>
                <div class="inline">示例</div>
            </div>
            <div class="ryt-whitespace ryt-whitespace-md"></div>
            <!-- 左右等分对齐 -->
            <div class="ryt-flexbox ryt-flexbox-justify-between ryt-flexbox-align-middle">
                <div class="inline">示例</div>
                <div class="inline">示例</div>
                <div class="inline">示例</div>
            </div>
            <div class="ryt-whitespace ryt-whitespace-md"></div>
            <!-- 头部对齐-->
            <div class="ryt-flexbox ryt-flexbox-align-top">
                <div class="inline">示例</div>
                <div class="inline">示例</div>
                <div class="inline">示例</div>
            </div>
            <div class="ryt-whitespace ryt-whitespace-md"></div>
            <!-- 底部对齐 -->
            <div class="ryt-flexbox ryt-flexbox-align-bottom">
                <div class="inline">示例</div>
                <div class="inline">示例</div>
                <div class="inline">示例</div>
            </div>
            <div class="ryt-whitespace ryt-whitespace-md"></div>
            <!-- 垂直居中对齐 -->
            <div class="ryt-flexbox ryt-flexbox-align-baseline">
                <div class="inline">示例</div>
                <div class="inline">示例</div>
                <div class="inline">示例</div>
            </div>
        </div>
    </div>
    <!--include "../../templet/js.components.html"-->
</body>

</html>