<!DOCTYPE html>
<html>
<!--include "../../templet/head.components.html"-->

<body>
    <div id="demoCode">
        <div class="ryt-list">
            <div class="ryt-list-header">checkbox 单选</div>
            <div class="ryt-list-body">
                <div class="ryt-checkbox-item ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-thumb">
                        <label class="ryt-checkbox-wrapper"><span class="ryt-checkbox"><input type="checkbox" class="ryt-checkbox-input"><span class="ryt-checkbox-inner"></span></span>
                        </label>
                    </div>
                    <div class="ryt-list-line">
                        <div class="ryt-list-content">默认</div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
                <div class="ryt-checkbox-item ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-thumb">
                        <label class="ryt-checkbox-wrapper"><span class="ryt-checkbox ryt-checkbox-checked"><input type="checkbox" class="ryt-checkbox-input"><span class="ryt-checkbox-inner"></span></span>
                        </label>
                    </div>
                    <div class="ryt-list-line">
                        <div class="ryt-list-content">选中</div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
                <div class="ryt-checkbox-item ryt-list-item ryt-checkbox-item-disabled ryt-list-item-middle">
                    <div class="ryt-list-thumb">
                        <label class="ryt-checkbox-wrapper"><span class="ryt-checkbox ryt-checkbox-disabled"><input type="checkbox" class="ryt-checkbox-input"><span class="ryt-checkbox-inner"></span></span>
                        </label>
                    </div>
                    <div class="ryt-list-line">
                        <div class="ryt-list-content">不可用</div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
                <div class="ryt-checkbox-item ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-thumb">
                        <label class="ryt-checkbox-wrapper"><span class="ryt-checkbox ryt-checkbox-checked"><input type="checkbox" class="ryt-checkbox-input"><span class="ryt-checkbox-inner"></span></span>
                        </label>
                    </div>
                    <div class="ryt-list-line ryt-list-line-multiple">
                        <div class="ryt-list-content">
                            默认
                            <div class="ryt-list-brief">子标题</div>
                        </div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
                <div class="ryt-checkbox-item ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-thumb">
                        <label class="ryt-checkbox-wrapper"><span class="ryt-checkbox ryt-checkbox-checked"><input type="checkbox" class="ryt-checkbox-input"><span class="ryt-checkbox-inner"></span></span>
                        </label>
                    </div>
                    <div class="ryt-list-line ryt-list-line-multiple">
                        <div class="ryt-list-content">
                            选中
                            <div class="ryt-list-brief">子标题</div>
                        </div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
                <div class="ryt-checkbox-item ryt-checkbox-item-disabled ryt-list-item ryt-list-item-middle">
                    <div class="ryt-list-thumb">
                        <label class="ryt-checkbox-wrapper"><span class="ryt-checkbox ryt-checkbox-checked ryt-checkbox-disabled"><input type="checkbox" disabled="" class="ryt-checkbox-input"><span class="ryt-checkbox-inner"></span></span>
                        </label>
                    </div>
                    <div class="ryt-list-line ryt-list-line-multiple">
                        <div class="ryt-list-content">
                            不可用
                            <div class="ryt-list-brief">子标题</div>
                        </div>
                    </div>
                    <div class="ryt-list-ripple" style="display: none;"></div>
                </div>
            </div>
        </div>
        <div class="ryt-flexbox ryt-flexbox-align-middle">
            <div class="ryt-flexbox-item">
                <div class="ryt-checkbox-agree">
                    <label class="ryt-checkbox-agree-label ryt-checkbox-wrapper"><span class="ryt-checkbox"><input type="checkbox" class="ryt-checkbox-input" data-seed="logId"><span class="ryt-checkbox-inner"></span></span>
                        国家推动建立政府性融资担保体系，发展政府支持的<a href="#">融资担保公司</a>，建立政府、银行业金融机构、融资担保公司合作机制，扩大为小微企业和“三农”提供融资担保业务的规模并保持较低的费率水平。</label>
                </div>
            </div>
        </div>
    </div>
    <!--include "../../templet/js.components.html"-->
</body>

</html>